.calva/repl.calva-repl
.classpath
.clj-kondo/.cache
.cpcache
.lsp/.cache
.portal
.project
.rebl
.settings
*.jar
/.lein-failures
/.lein-repl-history
/.nrepl-port
/build.boot
/clojure_test_*
bin
classes
derby.log
settings.xml
target
test-all.sh
